@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 50px 10px 50px;
}

.grid-container {
  border: 1px solid red;
  display: flex;
  margin: auto;
  flex-direction: column;
}

#grid-item {
  border: 1px solid blue;
  height: auto;
  width: auto;
  margin: auto;
}

iframe {
  align-items: center;
  margin: 20px 0 20px 0;
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.nav {
  padding-right: 1em;
  justify-content: space-evenly;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: red;
}

h1 h5 {
  padding-top: 20px;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  margin-bottom: 20px;
}

#research {
  margin-left: 12rem;
  margin-right: 12rem;
}

#research h1 h5 {
  margin-bottom: 1rem;
}

#logo-text small {
  padding-left: 5px;
}

.logo {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  height: 100px;
}

#careers {
  height: auto;
}

#products {
  height: auto;
}

#research {
  height: auto;
}

section {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  #logo {
    display: none;
  }

  .nav-link {
    color: red;
  }
}

@media screen and (min-width: 800px) {
  nav {
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    display: flexbox;
    justify-content: space-evenly;
    width: 100%;
    position: sticky;
  }
}