@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{

}

iframe {
  align-self: center;
  margin: 20px 0 20px 0;
}

.container{
  max-width: 100%;
  margin:0;
  padding: 0;
}

.nav{
  padding-right: 1em;
  justify-content:space-between;
}

.nav-link {
  color: #fff;
}

h1 h5{padding-top: 20px;}

header{
  top: 0;
  left: 0;
  position: fixed;
  background-color:black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: sticky;
}

#logo-text small {
  padding-left: 5px;
}

.logo{
  color:white;
  display:flex;
  flex-direction
  flex-direction: row;
  align-items: center;
}

img{
  height: 100px;
}

#careers{
height: 500px;
}

#products{
height: 500px;
}

#research{
  height: auto;
  
  
}

section{
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  #logo{
    display: none;
  }
  .nav-link{
    color: red;
  }
}

@media screen and (min-width: 800px) {
  nav{
  top: 0;
  left: 0;
  position: fixed;
  background-color:black;
  display: flexbox;
  justify-content: space-evenly;
  width: 100%;
  position: sticky;
}
}